<section id="carouselExampleAutoplaying" class="carousel slide carousel_container" data-bs-ride="carousel" #container>
    <div class="carousel-inner carousel_img_info">
        <div class="carousel-item active">
            <img src="../../assets/Carousel/CorteLaser.jpg" class="d-block w-100 img_carousel_service"
                alt="Carousel Corte Láser">
            <div class="carousel_info">
                <span>Corte Láser</span>
                <p>Crea piezas únicas con nuestro servicio de corte láser:</p>
                <ul>
                    <li>Realizamos cortes en MDF.</li>
                    <li>Realizamos cortes en Acrílico.</li>
                    <li>Grabados personalizados en los materiales mencionados.</li>
                    <li>Brindamos el servicio de pintura personalizada después del corte láser.</li>
                </ul>
            </div>
        </div>
        <div class="carousel-item carousel_img_info">
            <img src="../../assets/Carousel/impresion.jpg" class="d-block w-100 img_carousel_service"
                alt="Carousel Impresión">
            <div class="carousel_info">
                <span>Impresión</span>
                <p>Impresión de calidad profesional y atención al detalle para tus proyectos en papel.</p>
                <ul>
                    <li>Realizamos impresiones en hojas A4.</li>
                    <li>Ofrecemos el servicio de impresiones de PDFs.</li>
                    <li>Ofrecemos el servicio de anillado.</li>
                    <li>Impresiones en blanco y negro.</li>
                </ul>
            </div>
        </div>
        <div class="carousel-item carousel_img_info">
            <img src="../../assets/Carousel/impresion3d.jpg" class="d-block w-100 img_carousel_service"
                alt="Carousel Impresión 3D">
            <div class="carousel_info">
                <span>Impresión 3D</span>
                <p>Transformando tus diseños en realidad tridimensional con nuestro servicio de impresión en 3D</p>
                <ul>
                    <li>Ofrecemos el servicio de impresión en 3D en PLA.</li>
                    <li>Realizamos el servicio de post-procesamiento que incluye: pintura, lijado y pulido.</li>
                </ul>
            </div>
        </div>
        <div class="carousel-item carousel_img_info">
            <img src="../../assets/Carousel/sublimacion.jpg" class="d-block w-100 img_carousel_service"
                alt="Carousel Sublimación">
            <div class="carousel_info">
                <span>Sublimación</span>
                <p>Con nuestro servicio de sublimación, transformamos tus productos en piezas extraordinarias.</p>
                <ul>
                    <li>Realizamos sublimación en una variedad de productos, incluyendo tazas, polos, copas y más</li>
                    <li>Ofrecemos el servicio de diseño gráfico personalizado.</li>
                    <li>Realizamos el diseño de logotipos, branding y de imágenes.</li>
                </ul>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>