<main id="contact" #container>
    <div class="servicio_logo_titulo">
        <h5>Contáctanos</h5>
    </div>
    <div class="contact_toggle">
        <div class="selection_label_card">
            <label class="toggle_option" [class.selected]="personaSelected">
                <input type="radio" name="contactType" (click)="togglePersona()" checked>
            </label>
            <span>Persona</span>
        </div>
        <div class="selection_label_card">
            <label class="toggle_option" [class.selected]="empresaSelected">
                <input type="radio" name="contactType" (click)="toggleEmpresa()">
            </label>
            <span>Empresa</span>
        </div>
    </div>
    <div class="contact_container" *ngIf="personaSelected">
        <form class="example-form form_contact" [formGroup]="myForm" action="javascript:void(0)" (submit)="send()">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input type="text" name="name" formControlName="name" matInput placeholder="José" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Apellido</mat-label>
                <input type="text" name="lastname" formControlName="lastname" matInput placeholder="Gomez" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Selecciona un Departamento</mat-label>
                <mat-select type="text" formControlName="department" name="department_company" matInput required>
                    <mat-option value="Amazonas">Amazonas</mat-option>
                    <mat-option value="Áncash">Áncash</mat-option>
                    <mat-option value="Apurímac">Apurímac</mat-option>
                    <mat-option value="Arequipa">Arequipa</mat-option>
                    <mat-option value="Ayacucho">Ayacucho</mat-option>
                    <mat-option value="Cajamarca">Cajamarca</mat-option>
                    <mat-option value="Callao">Callao</mat-option>
                    <mat-option value="Cusco">Cusco</mat-option>
                    <mat-option value="Huancavelica">Huancavelica</mat-option>
                    <mat-option value="Huánuco">Huánuco</mat-option>
                    <mat-option value="Ica">Ica</mat-option>
                    <mat-option value="Junín">Junín</mat-option>
                    <mat-option value="La Libertad">La Libertad</mat-option>
                    <mat-option value="Lambayeque">Lambayeque</mat-option>
                    <mat-option value="Lima">Lima</mat-option>
                    <mat-option value="Loreto">Loreto</mat-option>
                    <mat-option value="Madre de Dios">Madre de Dios</mat-option>
                    <mat-option value="Moquegua">Moquegua</mat-option>
                    <mat-option value="Pasco">Pasco</mat-option>
                    <mat-option value="Piura">Piura</mat-option>
                    <mat-option value="Puno">Puno</mat-option>
                    <mat-option value="San Martín">San Martín</mat-option>
                    <mat-option value="Tacna">Tacna</mat-option>
                    <mat-option value="Tumbes">Tumbes</mat-option>
                    <mat-option value="Ucayali">Ucayali</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Celular</mat-label>
                <input type="text" name="cellphone" formControlName="cellphone" placeholder="+51 999 888 777" matInput 
                    required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" name="email" formControlName="email" placeholder="pat@example.com" matInput required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Escriba el texto</mat-label>
                <textarea matInput type="text" formControlName="message" name="text"
                    placeholder="Hola soy José Gomez y quisiera información ..." required></textarea>
            </mat-form-field>
            <button type="submit" class="boton_mas_info">Enviar</button>
        </form>
    </div>
    <div class="contact_container" *ngIf="empresaSelected">
        <form class="example-form form_contact" [formGroup]="myFormCompany" action="javascript:void(0)" (submit)="send_company()">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre Empresa</mat-label>
                <input matInput type="text" name="name_company" formControlName="name_company"
                    placeholder="Gloria S.A.C." required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>RUC</mat-label>
                <input matInput type="text" name="ruc_company" placeholder="20123456789" formControlName="ruc_company"
                    required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selecciona un Departamento</mat-label>
                <mat-select type="text" formControlName="department_company" name="department_company" matInput required>
                    <mat-option value="Amazonas">Amazonas</mat-option>
                    <mat-option value="Áncash">Áncash</mat-option>
                    <mat-option value="Apurímac">Apurímac</mat-option>
                    <mat-option value="Arequipa">Arequipa</mat-option>
                    <mat-option value="Ayacucho">Ayacucho</mat-option>
                    <mat-option value="Cajamarca">Cajamarca</mat-option>
                    <mat-option value="Callao">Callao</mat-option>
                    <mat-option value="Cusco">Cusco</mat-option>
                    <mat-option value="Huancavelica">Huancavelica</mat-option>
                    <mat-option value="Huánuco">Huánuco</mat-option>
                    <mat-option value="Ica">Ica</mat-option>
                    <mat-option value="Junín">Junín</mat-option>
                    <mat-option value="La Libertad">La Libertad</mat-option>
                    <mat-option value="Lambayeque">Lambayeque</mat-option>
                    <mat-option value="Lima">Lima</mat-option>
                    <mat-option value="Loreto">Loreto</mat-option>
                    <mat-option value="Madre de Dios">Madre de Dios</mat-option>
                    <mat-option value="Moquegua">Moquegua</mat-option>
                    <mat-option value="Pasco">Pasco</mat-option>
                    <mat-option value="Piura">Piura</mat-option>
                    <mat-option value="Puno">Puno</mat-option>
                    <mat-option value="San Martín">San Martín</mat-option>
                    <mat-option value="Tacna">Tacna</mat-option>
                    <mat-option value="Tumbes">Tumbes</mat-option>
                    <mat-option value="Ucayali">Ucayali</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Celular</mat-label>
                <input type="text" formControlName="cellphone_company" name="cellphone_company" matInput
                    placeholder="+51 999 888 777" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" name="email" formControlName="email_company" placeholder="correo@example.com" matInput required>

            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Escriba el texto</mat-label>
                <textarea type="text" name="text_company" formControlName="message_company" matInput
                    placeholder="Hola somos la empresa Gloria S.A.C. y quisiera información ..." required></textarea>
            </mat-form-field>
            <button type="submit" class="boton_mas_info">Enviar</button>
        </form>
    </div>
</main>