<main id="servicio">
    <div class="servicio_logo_titulo">
        <img src="" alt="Nuestros Servicios">
    </div>
    <div class="servicio_container">
        <h2>Corte Láser</h2>
        <div class="impresion_descripcion">
            <div class="descripcion_boton">
                <p>
                    Experimenta la excelencia en personalización con nuestro servicio de corte láser, especializado en acrílico y MDF. Con tecnología láser de alta precisión, transformamos láminas de acrílico y MDF en creaciones únicas, desde letreros elegantes hasta mobiliario detallado. Destacamos por trabajar con dimensiones generosas, hasta 600 x 900 cm. Ya sea acrílico sofisticado o versátil MDF, garantizamos resultados excepcionales, fusionando precisión técnica y expresión artística en cada proyecto. Confía en nosotros para materializar tus ideas con calidad y atención al detalle.
                </p>
                <a href="" class="boton_mas_info">Más información</a>
            </div>
            <img src="../../assets/Servicios/Laser.jpg" alt="Impresion 3D">
        </div>
    </div>
    <div class="servicio_container">
        <h2>Impresión 3D</h2>
        <div class="impresion_descripcion">
            <img src="../../assets/Servicios/3D.jpg" alt="Corte Laser">
            <div class="descripcion_boton">
                <p class="p2">
                    Adéntrate en el mundo de las posibilidades tridimensionales con nuestro servicio de impresión 3D en PLA. El PLA (ácido poliláctico) es un material biodegradable y fácilmente moldeable que se presta a la creación de prototipos, piezas personalizadas y diseños innovadores. Nuestra tecnología de impresión 3D garantiza la precisión y la fidelidad al imprimir en PLA, ofreciendo resultados consistentes y resistentes. Desde juguetes hasta piezas industriales, la versatilidad del PLA permite materializar tus ideas en formas tangibles, y nuestro compromiso con la calidad asegura que cada impresión sea una representación fiel de tu visión.
                </p>
                <a href="" class="boton_mas_info">Más información</a>
            </div>
        </div>
    </div>
    <div class="servicio_container">
        <h2>Impresión</h2>
        <div class="impresion_descripcion">
            <div class="descripcion_boton">
                <p>
                    Descubre nuestra impresión eficiente en A4 para tus necesidades editoriales. Con tecnología avanzada, facilitamos la impresión directa de archivos PDF, ideal para informes académicos y manuales. Ofrecemos opciones de encuadernación, incluyendo anillado, simplificando el proceso de impresión. Confía en nosotros para una solución efectiva.
                </p>
                <a href="" class="boton_mas_info">Más información</a>
            </div>
            <img src="../../assets/Servicios/Printer.jpg" alt="Impresion">
        </div>
    </div>
    <div class="servicio_container">
        <h2>Sublimación</h2>
        <div class="impresion_descripcion">
            <img src="../../assets/Servicios/Sublimator.jpg" alt="Impresion">
            <div class="descripcion_boton">
                <p class="p2">
                    Experimenta la personalización excepcional con nuestra sublimación, diseñada para elevar la identidad de tu empresa. Esta técnica única transfiere diseños vibrantes a polos y tazas, creando productos únicos que representan la esencia de tu marca. En polos, la tinta se fusiona con las fibras, resultando en colores intensos y durabilidad. Las tazas sublimadas aseguran imágenes claras y duraderas, perfectas para regalos corporativos. Desde promociones hasta uniformes, la sublimación añade un toque distintivo, convirtiendo a tu empresa en una marca memorable. Confía en nosotros para elevar la imagen de tu empresa con personalización de alta calidad y originalidad.
                </p>
                <a href="" class="boton_mas_info">Más información</a>
            </div>
        </div>
    </div>
</main>