<footer class="d-flex flex-column justify-content-center w-100">
    <section class="footer_container">
        <div class="footer_nosotros_container">
            <img src="../../assets/RS.png" alt="Logo RS" style="width: 80px;">
            <p>
                Expertos en sublimación, impresión 3D, convencional y corte láser. Potenciamos tu éxito visual con
                servicios confiables y de calidad, fusionando innovación y precisión para destacar en tu camino
                académico y profesional.
            </p>
        </div>
        <div class="footer_ubicacion_container">
            <h5>Perú, Lima</h5>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
        <div class="footer_horario_contacto_container">
            <p>
                Horario
            </p>
            <p>
                Celular
            </p>
        </div>
        <div class="footer_redes_pago_container">
            <div class="redes_sociales_container">
                <a href="">
                    <img class="tiktok" src="../../assets/LogoRedesSociales/tiktok.png" alt="TikTok">
                </a>
                <a href="">
                    <img src="../../assets/LogoRedesSociales/fb.webp" alt="Facebook">
                </a>
                <a href="">
                    <img src="../../assets/LogoRedesSociales/insta.png" alt="Instagram">
                </a>
                <a href="">
                    <img src="../../assets/LogoRedesSociales/linke.png" alt="Youtube">
                </a>
            </div>
            <div class="pago_container">
                <img src="../../assets/FormasdePago/bcp.jpg" alt="MasterCard">
                <img src="../../assets/FormasdePago/mastercard.jpg" alt="Plin">
                <img src="../../assets/FormasdePago/visa.jpg" alt="Yape">
                <img src="../../assets/FormasdePago/paypal.png" alt="Paypal">
            </div>
        </div>
    </section>
    <p class="d-flex justify-content-center">&copy; 2024 Christian Reyes. Todos los derechos reservados.</p>
</footer>