@charset "UTF-8";
footer {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 0;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
  /* 100% del ancho original, el alto se ajustará automáticamente */
  background-position: center;
}

.footer_derechos_container {
  width: 100%;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0 80px 0 80px;
}

.footer_us_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_us_container img {
  width: 200px;
  margin-bottom: 20px;
}
.footer_us_container p {
  color: white;
  font-size: 22px;
  font-weight: 300;
  text-align: justify;
}

.footer_localization_container {
  width: 300px;
}

.footer_horario_contacto_container {
  width: 300px;
}
.footer_horario_contacto_container .iframe {
  width: 100%;
  height: 412px;
}

.footer_redes_pago_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_redes_pago_container img {
  width: 60px;
}

.redes_sociales_container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.redes_sociales_container a img {
  transition: all 0.3s ease;
}
.redes_sociales_container a img:hover {
  animation: scale 1s infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.tiktok {
  height: 60px;
}

.contacto_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.contacto_container h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.pago_container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pago_container img {
  width: 80px;
}
.pago_container .pago_app {
  width: 100px;
}

.footer_derechos_container {
  width: 100%;
  height: 30px;
  text-align: center;
  background: black;
  color: white;
  vertical-align: bottom;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 8px 0;
}

.footer_derechos_container p {
  font-size: 17px;
}

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}

.whatsapp img {
  height: 100px;
}

@media (min-width: 767px) and (max-width: 1128px) {
  .footer_container {
    margin: 0 40px 0 40px;
  }
  .footer_us_container {
    width: 200px;
  }
  .footer_us_container p {
    font-size: 16px;
  }
  .footer_localization_container {
    width: 200px;
  }
  .footer_localization_container iframe {
    width: 100%;
  }
  .footer_redes_pago_container {
    width: 200px;
  }
  .footer_redes_pago_container .redes_sociales_container img {
    width: 50px;
  }
  .footer_redes_pago_container .redes_sociales_container .tiktok {
    width: 45px;
    height: auto;
  }
}
@media (max-width: 767px) {
  footer {
    height: auto;
  }
  footer p {
    font-size: 15px !important;
    line-height: 18px !important;
    font-weight: 400 !important;
  }
  .footer_container {
    flex-direction: column;
  }
  .footer_localization_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_localization_container iframe {
    width: 100%;
    height: 150px;
  }
  .footer_us_container {
    width: 100%;
  }
  .footer_us_container img {
    height: 50px;
    width: 50px;
    margin-bottom: 0;
  }
  .footer_us_container p {
    font-size: 15px;
  }
  .footer_localization_container {
    width: 100%;
  }
  .footer_redes_pago_container {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer_redes_pago_container .redes_sociales_container a img {
    width: 50px;
  }
  .footer_redes_pago_container .redes_sociales_container a .tiktok {
    height: 50px;
  }
  .contacto_container h5 {
    font-size: 14px;
    margin-bottom: 0;
  }
  .footer_container {
    margin: 0 50px 0 50px;
  }
}
@media (max-width: 420px) {
  footer {
    height: auto;
  }
  footer p {
    margin-top: 20px;
    font-size: 12px !important;
    line-height: 15px !important;
  }
  .footer_container {
    margin: 0 20px 0 20px;
  }
  .pago_container {
    width: 200px;
  }
  .pago_app {
    width: 80px !important;
  }
}/*# sourceMappingURL=rsprintfooter.component.css.map */