<footer>
    <section class="footer_container">
        <div class="footer_us_container">
            <img src="../../assets/RS.png" alt="Logo RS" style="width: 80px;">
            <p>
                Expertos en sublimación, impresión 3D, convencional y corte láser. Potenciamos tu éxito visual con
                servicios confiables y de calidad, fusionando innovación y precisión para destacar en tu camino
                académico y profesional.
            </p>
        </div>
        <div class="footer_localization_container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31222.30426950575!2d-77.0486878!3d-11.98916385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cfaeef4c292f%3A0xee8dfbf42a8ee7da!2sIndependencia!5e0!3m2!1sen!2spe!4v1705678521651!5m2!1sen!2spe"
                width="300" height="400" style="border:0; border-radius: 20px" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="footer_redes_pago_container">
            <div class="redes_sociales_container">
                <a href="https://www.tiktok.com/tag/rsprintandcut" target="_blank" rel="noopener noreferrer">
                    <img class="tiktok" src="../../assets/LogoRedesSociales/tiktok.png" alt="TikTok">
                </a>
                <a href="https://www.facebook.com/rs.printandcut/" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/LogoRedesSociales/fb.webp" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/rs.printandcut/" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/LogoRedesSociales/insta.png" alt="Instagram">
                </a>
            </div>
            <div class="contacto_container">
                <h5> {{email}} </h5>
                <h5> {{telefono}} </h5>
            </div>
            <div class="pago_container">
                <img class="pago_app" src="../../assets/FormasdePago/plin.png" alt="Paypal">
                <img class="pago_app" src="../../assets/FormasdePago/yape.png" alt="Yape">
            </div>

        </div>
    </section>
    <p class="d-flex justify-content-center" style="color: white; font-weight:500; font-size: 18px">&copy; 2024
        Christian Reyes. Todos los derechos reservados.</p>
</footer>