<main id="nosotros">
    <div class="servicio_logo_titulo">
        <img src="" alt="Nuestros Servicios">
    </div>
    <div class="botones_descripcion_container">
        <div class="botones_container">
            <button>
                Nosotros
            </button>
            <button>
                Visión
            </button>
            <button>
                Misión
            </button>
        </div>
        <div class="nosotros_descripcion_card">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime blanditiis praesentium molestias! Tenetur dolorem praesentium porro similique quibusdam nisi nihil labore id, dolore iusto totam reiciendis hic consequatur dolor inventore.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime blanditiis praesentium molestias! Tenetur dolorem praesentium porro similique quibusdam nisi nihil labore id, dolore iusto totam reiciendis hic consequatur dolor inventore.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime blanditiis praesentium molestias! Tenetur dolorem praesentium porro similique quibusdam nisi nihil labore id, dolore iusto totam reiciendis hic consequatur dolor inventore.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime blanditiis praesentium molestias! Tenetur dolorem praesentium porro similique quibusdam nisi nihil labore id, dolore iusto totam reiciendis hic consequatur dolor inventore.
            </p>
        </div>
        <!-- <div class="nosotros_descripcion_card_1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime blanditiis praesentium molestias! Tenetur dolorem praesentium porro similique quibusdam nisi nihil labore id, dolore iusto totam reiciendis hic consequatur dolor inventore.
            </p>
        </div>
        <div class="nosotros_descripcion_card_2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime blanditiis praesentium molestias! Tenetur dolorem praesentium porro similique quibusdam nisi nihil labore id, dolore iusto totam reiciendis hic consequatur dolor inventore.
            </p>
        </div> -->
    </div>
</main>