#nosotros {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.botones_descripcion_container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.servicio_logo_titulo {
  height: 200px;
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #b47a1a, #ffe55a);
  margin-bottom: 50px;
}
.servicio_logo_titulo h5 {
  font-size: 45px;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 10px #000;
}

.botones_container {
  display: flex;
  flex-direction: row;
}
.botones_container .boton_option {
  background: white;
  border-radius: 25px;
  padding: 15px 30px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  border: 1px solid #b47a1a;
  margin-left: 20px;
}
.botones_container .boton_option span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #b47a1a, #ffe55a);
  -webkit-background-clip: text;
  text-shadow: 0 0 0 0;
  font-size: 25px;
}
.botones_container .boton_option.active {
  background: linear-gradient(90deg, #b47a1a, #ffe55a);
}
.botones_container .boton_option.active span {
  -webkit-text-fill-color: #fff;
}

mat-button-toggle {
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones_container button {
  padding: 20px 0 20px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nosotros_descripcion_card {
  margin-top: 50px;
  width: 540px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros_descripcion_card h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0;
}
.nosotros_descripcion_card p {
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
}

.vision_descripcion_card {
  margin-top: 50px;
  width: 540px;
  height: 280px;
}
.vision_descripcion_card p {
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
}

.mision_descripcion_card {
  margin-top: 50px;
  width: 540px;
  height: 280px;
}
.mision_descripcion_card p {
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
}

@media (max-width: 768px) {
  .boton_option {
    font-size: 20px !important;
  }
  .nosotros_descripcion_card {
    width: 90%;
    height: auto;
  }
  mat-form-field {
    height: 20px;
  }
  .nosotros_descripcion_card {
    width: 90%;
    height: auto;
  }
  .nosotros_descripcion_card h1 {
    font-size: 25px;
  }
  .nosotros_descripcion_card p {
    font-size: 17px;
  }
  .vision_descripcion_card {
    width: 90%;
    height: auto;
  }
  .vision_descripcion_card p {
    font-size: 17px;
  }
  .mision_descripcion_card {
    width: 90%;
    height: auto;
  }
  .mision_descripcion_card p {
    font-size: 17px;
  }
  .boton_option span {
    font-size: 20px !important;
  }
  .servicio_logo_titulo h5 {
    font-size: 35px !important;
  }
}
@media (max-width: 500px) {
  .boton_option {
    margin: 5px !important;
  }
  .boton_option {
    padding: 10px 15px !important;
  }
  .boton_option span {
    font-size: 17px !important;
  }
  .botones_descripcion_container {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1500px) {
  h1 {
    font-size: 30px !important;
  }
  p {
    font-size: 18px !important;
  }
}/*# sourceMappingURL=rsprintus.component.css.map */