#nosotros{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
}
.botones_descripcion_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.botones_container{
    display: flex;
    flex-direction: column;
    .boton_option{
        font-size: 30px;
        font-weight: 500;
    }
}

mat-button-toggle{
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.botones_container button{
    padding: 20px 0 20px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.nosotros_descripcion_card{
    margin-top: 50px;
    width: 540px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 0;
    }
    p{
        font-size: 25px;
        line-height: 30px;
        text-align: justify;
    }
}

.vision_descripcion_card{
    margin-top: 50px;
    width: 540px;
    height: 280px;
    p{
        font-size: 25px;
        line-height: 30px;
        text-align: justify;
    }
}

.mision_descripcion_card{
    margin-top: 50px;
    width: 540px;
    height: 280px;
    p{
        font-size: 25px;
        line-height: 30px;
        text-align: justify;
    }
}

@media (max-width:768px){
    #nosotros{
        height: auto;
        margin-top: 56px;
        padding: 50px 0 50px 0;
    }
    mat-button-toggle{
        width: 120px;
        height: 60px;
    } 
    .boton_option{
        font-size: 20px !important;
    }
    .nosotros_descripcion_card{
        width: 90%;
        height: auto;
    }
    mat-form-field{
        height: 20px;
    }
}

@media (max-width:400px){
    #nosotros{
        height: auto;
        margin-top: 56px;
        padding: 50px 0 50px 0;
    }
    mat-button-toggle{
        width: 80px;
        height: 60px;
    } 
    .boton_option{
        font-size: 15px !important;
    }
    .nosotros_descripcion_card{
        width: 90%;
        height: auto;
        h1{
            font-size: 25px;
        }
        p{
            font-size: 20px;
        }
    }
    .vision_descripcion_card{
        width: 90%;
        height: auto;
        p{
            font-size: 20px;
        }
    }
    .mision_descripcion_card{
        width: 90%;
        height: auto;
        p{
            font-size: 20px;
        }
    }
}