<main>
    <div class="services_container">
        <h4>Nuestros Servicios</h4>
        <div class="show_services">
            <a [routerLink]="['/servicios']" [fragment]="'impresion3d'" class="service_card">
                <img class="service_img" src="../../assets/Servicios/3D.jpg" alt="Impresión 3D">
                <h2>Impresión 3D</h2>
            </a>
            <a [routerLink]="['/servicios']" [fragment]="'cortelaser'" class="service_card">
                <img class="service_img" src="../../assets/Servicios/Laser.jpg" alt="Corte Láser">
                <h2>Corte Láser</h2>
            </a>
            <a [routerLink]="['/servicios']" [fragment]="'impresion'" class="service_card">
                <img class="service_img" src="../../assets/Servicios/Printer.jpg" alt="Impresión">
                <h2>Impresión</h2>
            </a>
            <a [routerLink]="['/servicios']" [fragment]="'sublimacion'" class="service_card">
                <img class="service_img" src="../../assets/Servicios/Sublimator.jpg" alt="Sublimación">
                <h2>Sublimación</h2>
            </a>
        </div>
        <div class="slogan_container">
            <div class="scroll_effect">
                <div class="text_container">
                    <div class="vision_text"><span>#</span><p>VisiónMaterializada</p></div>
                    <p>Impresión, Sublimación, Impresión 3D y Corte Láser: Tu Visión, Nuestro Compromiso.</p>
                </div>
            </div>
        </div>
        <div class="works_done_container">
            <div class="work_card">
                <img src="../../assets/Trabajos.jpg" alt="Trabajos Realizados">
                <h5><span>+</span><span>100</span></h5>
                <h5><span>Trabajos realizados</span></h5>
            </div>
            <div class="work_card">
                <img src="../../assets/Cliente.jpg" alt="Trabajos Realizados">
                <h5><span>+</span><span>100</span></h5>
                <h5><span>Clientes Satisfechos</span></h5>
            </div>
            <div class="work_card">
                <img src="../../assets/Envio.jpg" alt="Trabajos Realizados">
                <h5><span>+</span><span>100</span></h5>
                <h5><span>Envíos</span></h5>
            </div>
        </div>
    </div>
</main>
