<main>
    <div class="services_container">
        <h4>Nuestros Servicios</h4>
        <div class="show_services">
            <div class="service_card">
                <img src="../../assets/laser.jpg" alt="Impresion 3D">
                <h2>Impresión 3D</h2>
            </div>
            <div class="service_card">
                <img src="../../assets/laser.jpg" alt="Corte Laser">
                <h2>Corte Láser</h2>
            </div>
            <div class="service_card">
                <img src="../../assets/laser.jpg" alt="Impresión">
                <h2>Impresión</h2>
            </div>
            <div class="service_card">
                <img src="../../assets/laser.jpg" alt="Impresión">
                <h2>Sublimación</h2>
            </div>
        </div>
        <div class="slogan_container">
            <div class="scroll_effect">
                <div class="text_container">
                    <div class="vision_text"><span>#</span><p>VisiónMaterializada</p></div>
                    <p>Impresión, Sublimación, Impresión 3D y Corte Láser: Tu Visión, Nuestro Compromiso.</p>
                </div>
            </div>
        </div>
        <div class="works_done_container">
            <div class="work_card">
                <img src="../../assets/laser.jpg" alt="Trabajos Realizados">
                <h5><span>+</span><span>100</span></h5>
                <h5><span>Trabajos realizados</span></h5>
            </div>
            <div class="work_card">
                <img src="../../assets/laser.jpg" alt="Trabajos Realizados">
                <h5><span>+</span><span>100</span></h5>
                <h5><span>Clientes Satisfechos</span></h5>
            </div>
            <div class="work_card">
                <img src="../../assets/laser.jpg" alt="Trabajos Realizados">
                <h5><span>+</span><span>100</span></h5>
                <h5><span>Envíos</span></h5>
            </div>
        </div>
    </div>
</main>
