<header class="fixed-top">
  <nav class="navbar navbar-expand-lg bg-body-tertiary nav_container">
    <div class="container-fluid d-flex justify-content-center xd">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
        *ngIf="isMenuButtonVisible" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup"[ngClass]="{ 'show': isMenuOpen, 'custom-navbar-style': isMenuOpen }">
        <div class="navbar-nav d-flex justify-content-center align-items-center link_container">
          <a class="nav-link active img_logo_rsprint_container" aria-current="page" routerLink="/"
            routerLinkActive="active" ariaCurrentWhenActive="page" (click)="closeMenu()">
            <img class="img_logo_rsprint_header" src="../../assets/RS.png" alt="Logo RSPrint">
          </a>
          <a class="nav-link menu_item" routerLink="/servicios" routerLinkActive="active" ariaCurrentWhenActive="page"
            (click)="closeMenu()"><span>Servicios</span></a>
          <a class="nav-link menu_item" routerLink="/nosotros" routerLinkActive="active" ariaCurrentWhenActive="page"
            (click)="closeMenu()"><span>Conócenos</span></a>
          <a class="nav-link menu_item" routerLink="/contactanos" routerLinkActive="active" ariaCurrentWhenActive="page"
            (click)="closeMenu()"><span>Contáctanos</span></a>
        </div>
        <button class="close-button" *ngIf="isMenuOpen" (click)="closeMenu()">X</button>
      </div>
    </div>
  </nav>
</header>
<div class="overlay" [ngClass]="{ 'active': isMenuOpen }" (click)="toggleMenu()"></div>