<header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav_container">
        <div class="container-fluid d-flex justify-content-center">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex justify-content-center  align-items-center link_container">
                    <a class="nav-link active img_logo_rsprint_container" aria-current="page" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <img class="img_logo_rsprint_header" src="../../assets/RS.png" alt="Logo RSPrint">
                    </a>
                    <a class="nav-link menu_item" routerLink="/servicios" routerLinkActive="active" ariaCurrentWhenActive="page">Servicios</a>
                    <a class="nav-link menu_item" routerLink="/nosotros" routerLinkActive="active" ariaCurrentWhenActive="page">Conócenos</a>
                    <!-- <a class="nav-link menu_item" href="#">Ubícanos</a> -->
                    <a class="nav-link menu_item" routerLink="/contactanos" routerLinkActive="active" ariaCurrentWhenActive="page">Contáctanos</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- <router-outlet></router-outlet> -->
</header>